// colores
$main-color: #673AB7;
$main-color-darker1: #5c34a4;
$main-color-darker2: #512e90;
$main-color-darker3: #46287d;
$main-base: #f5f5f5;

// fuentes
$icon-size: 45px;

// breakpoints
$sm-breakpoint: 48em;
$md-breakpoint: 64em;
$lg-breakpoint: 75em;
