body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}
row {
  box-sizing: border-box!important;
}
.ticon {
  margin-right: 8px;
}
#volver-arriba {
  position: fixed;
  bottom: 15px;
  right: 15px;
  background-color: $main-color!important;
  color: white;
  line-height: 42px;
  min-width: inherit;
  width: 45px!important;
  height: 45px;
}
header {
  .topbar {
    background-color: $main-color;
    padding: 25px 25px 120px 25px;
    a.mdl-button {
      margin-bottom: 10px;
      width: 100%;
      padding: 0;
      background-color: $main-color-darker1;
      color: white;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
      font-size: 14px;
      transition: display 1s;
      &.hidden {
        display: none;
      }
      @media screen and (min-width: $md-breakpoint){
        width: auto;
        padding: 3px 20px;
      }
    }
    .social-icons {
      width: auto;
      padding: 0;
      list-style: none;
      position: static;
      li {
        display: inline-block;
        margin: 0 5px;
      }
      .social-link {
        display: inline-block;
        color: white;
        border-radius: 50%;
        border: 5px solid white;
        width: $icon-size;
        line-height: $icon-size;
        text-align: center;
        font-size: 32px;
      }
      @media screen and (min-width: $md-breakpoint){
        background-color: $main-base;
        padding: 15px;
        border-radius: 5px;
        position: fixed;
        left: 35px;
        top: 50vh;
        transform: translateY(-50%);
        li {
          margin: 5px 0;
          display: block;
        }
        .social-link{
          color: $main-color;
          border: 5px solid $main-color;

        }
      }
    }
  }
  figure {
    position: relative;
    margin: 0;
    .foto {
      margin: 0;
      width: 180px;
      position: absolute;
      left: 50vw;
      transform: translateX(-50%) translateY(-50%);
      border: 5px solid white;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      overflow: hidden;
      img{
        width: 100%;
      }
    }
  }
  .intro {
    padding: 110px 20px 60px 20px;
    background-color: $main-color-darker1;
    text-align: center;
    color: white;
    h1 {
      font-weight: 500;
      font-size: 36px;
      margin: 25px 0 0;
    }
    h2 {
      color: #CCC;
      font-size: 24px;
      margin: 0 0 20px;
      font-weight: 300;
    }
    p {
      max-width: 600px;
      text-align: justify;
      margin: auto;
    }
    @media screen and (min-width: $sm-breakpoint){
      h1 {
        font-size: 48px;
      }
      h2 {
        font-size: 32px;
        margin-bottom: 25px
      }
    }
  }
  .info-contacto {
    background-color: $main-color-darker2;
    padding: 20px 0;
    ul {
      margin: auto;
      text-align: center;
      display: inline-block;
      font-size: 16px;
      color: white;
      li {
        display: inline-block;
        margin: 0 15px;
      }
    }
  }
  .compensador {
    height: 0;
    &.fixed {
      height: 64px;
    }
  }
  nav.navegacion {
    box-shadow: 0 5px 5px #000;
    background-color: $main-color-darker3;
    padding: 20px 0;
    ul {
      margin:auto;
      text-align: center;
      display: inline-block;
      font-size: 16px;
      li {
        display: inline-block;
        margin: 0 30px;
        a {
          color: white;
          text-decoration: none;
        }
      }
    }
    @media screen and (max-width: $sm-breakpoint) {
      display: none;
    }
  }
}
section.main-content {
  background-color: $main-base;
  padding: 60px 0;
  .section {
    background-color: white;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.4);
    padding: 45px;
    margin-bottom: 45px;
    @media screen and (max-width: $sm-breakpoint){
      padding: 30px;
    }
  }
  .section-title {
    margin: 0 0 45px;
    font-size: 24px;
    text-align: center;
    font-weight: 500;
  }
  #experiencia {
    .timeline {
      margin-left: 280px;
      padding: 0 30px;
      border-left: 3px solid $main-color;
      border-bottom-right-radius: 2px;
      border-top-right-radius: 2px;
      position: relative;
      text-align: left;
      .item {
        position: relative;
        margin-bottom: 45px;
        &:before {
          box-sizing: border-box;
          content: "";
          position: absolute;
          left: -43px;
          top: 0;
          display: inline-block;
          width: 22px;
          height: 22px;
          border-radius: 50%;
          background-clip: padding-box;
          background: #fff;
          border: 3px solid #673AB7;
        }
        &:after {
          box-sizing: border-box;
          content: "";
          position: absolute;
          left: -37px;
          top: 6px;
          display: inline-block;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background-clip: padding-box;
          background: #673AB7;
          z-index: 10;
        }
        &:last-child {
          margin-bottom: 0;
        }
        .work-place {
          position: relative;
        }
        .place {
          margin-top: 0;
          margin-bottom: 15px;
          font-size: 20px;
          font-weight: 300;
          line-height: 22px;
        }
        .location {
          position: absolute;
          right: 0;
          top: 2px;
          color: #8a8a8a;
        }
        .job-meta {
          position: absolute;
          left: -280px;
          top: 0;
          margin-bottom: 15px;
          max-width: 230px;
          .title {
            font-size: 18px;
            color: #673AB7;
          }
          .time {
            color: #8a8a8a;
          }
        }
        .job-desc {
          text-align: justify;
          color: #666;
        }
      }
      @media screen and (max-width: $md-breakpoint){
        padding-right: 0;
        margin-left: 0;
        .job-meta {
          position: static!important;
        }
      }
    }
  }
  #educacion {
    font-size: 14px;
    .item-inner {
      padding: 0 30px;
      margin-bottom: 45px;
      text-align: justify;
      @media screen and (max-width: $sm-breakpoint){
        padding: 0 10px;
      }
    }
    .degree {
      font-size: 18px;
      color: #673AB7;
      margin-top: 0;
      margin-bottom: 0px;
      font-weight: 500;
      line-height: 1.2;
    }
    .education-body {
      font-weight: 500;
      margin-bottom: 0px;
      font-size: 16px;
      font-weight: 300;
    }
    .time {
      color: #8a8a8a;
      margin-bottom: 15px;
    }
    .desc {
      color: #666;
    }
  }
  #habilidades {
    .section-title {
      margin-bottom: 10px;
    }
    .skills {
      margin-bottom: 60px;
    }
    .subtitle {
      font-size: 18px;
      color: #8a8a8a;
      margin-top: 0;
      margin-bottom: 45px;
      font-weight: 300;
    }
    .chart {
      position: relative;
      span {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        font-size: 20px;
        color: #444;
        line-height: 110px;
        font-weight: 300;
      }
    }
    .item-inner {
      padding: 0 20px;
      margin-bottom: 45px;
    }
    .desc {
      color: #666;
    }
    .skill-tag {
      box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
      padding: 6px 30px;
      display: inline-block;
      margin: 0 5px 15px;
      border: 1px solid #f5f5f5;
      font-weight: 500;
      font-size: 16px;
    }
  }
  #portafolio {
    .demo-card-square.mdl-card {
      height: 320px;
      width: 100%;
      margin-bottom: 30px;
    }
    .demo-card-square > .mdl-card__title {
      color: rgba(0, 0, 0,0.5);
      background: #fff;
      border-bottom: 1px solid rgba(0 , 0, 0, 0.1);
    }
    .card-image {
      position: absolute;
      left: 50%;
      top: 20%;
      transform: translate(-50%, -50%);
      max-width: 60%;
      max-height: 50%;
    }
    .mdl-card__actions {
      background-color: $main-color-darker1;
      a {
        color: white;
        &:hover {
          background-color: $main-color-darker2;
        }
      }
    }
    .mdl-card__supporting-text {
      min-height: 64px;
      text-align: justify;
      width: auto;
      background-color: $main-color;
      color: #fff;
    }
  }
}
