extends templates/layout

block append config
  - var pageTitle = "Henry Tabima Giraldo - Desarrollador Web"

block main

  include templates/header
  section.main-content
    .row.center-xs
      .col-xs-12.col-sm-10.col-md-8
        #experiencia
          

  include templates/footer
