extends templates/layout

block append config
  - var pageTitle = "Henry Tabima Giraldo - Desarrollador Web"

block main

  include templates/header
  section.main-content
    .row.center-xs
      .col-xs-11.col-sm-9.col-md-8.col-lg-7
        #experiencia.section
          h2.section-title Experiencia Laboral
          .timeline
            .item
              .work-place
                h3.place Indomotech SAS
                .location
                  i.fa.fa-map-marker.ticon(aria-hidden='true')
                  | Cali
              .job-meta
                .title Director de proyectos de software
                .time Enero de 2016 - Presente
              .job-desc
                p
                  | Desarrollo de pagina web de la empresa, Desarrollador de paginas y aplicativos web, Programador de la Interfaz de usuario en domotica, Programador de interfaz de en integraciones de Audio y Video

        #educacion.section
          h2.section-title Educación
          .row.center-xs
            .col-xs-12.col-sm-6.col-md-4
              .item-inner
                h3.degree Ingeniero Mecatrónico
                .education-body
                  | Universidad Autonoma de Occidente
                .time 2009 - 2017
                .desc
                  | Ingeniero mecatrónico con enfoque en el control, automatizacion de proceso industriales, sistemas inteligentes y deiseño y modelados maquinas.
            .col-xs-12.col-sm-6.col-md-4
              .item-inner
                h3.degree Desarrollador Web
                .education-body
                  | Platzi
                .time 2016 - Actualidad
                .desc
                  | Cursos concluidos: Curso de programación básica, Curso de Git y Github, Introducción a terminal y linea de comandos, Introduccion a Linux, Curso de Desarrollo Web Online, Curso de Responsive Design, Curso definitivo de Javascript

        #habilidades.section
          h2.section-title Habilidades
          .top-skills
            h3.subtitle TOP SKILLS
            .row.center-xs
              .col-xs-12.col-sm-6.col-md-4
                .item-inner
                  .chart(data-percent="85")
                    span 85%

  include templates/footer
