header#header
  .topbar
    .row.end-sm
      .col-xs-12.col-md-4
        a(href="CV_HENRY_TABIMA_GIRALDO.pdf", target="_blank").mdl-button.mdl-js-button.mdl-js-ripple-effect
          i.fa.fa-download.ticon
          |Descargar CV
      .col-xs-12.col-md-4.last-xs.first-md
        .row.center-xs
          ul.social-icons.col-sm
            li
              a.social-link(href="https://www.linkedin.com/in/henrytabimagiraldo/",target="_blank")
                i.fa.fa-linkedin
            li
              a.social-link(href="https://www.facebook.com/henrytabimadev/",target="_blank")
                i.fa.fa-facebook
            li
              a.social-link(href="https://github.com/HenryTabima",target="_blank")
                i.fa.fa-github-alt
            li
              a.social-link(href="https://medium.com/@henrytabima.dev",target="_blank")
                i.fa.fa-medium

  figure.foto
    img(src="img/henrytabima.jpg", alt="Foto Henry Tabima")

  .intro
    h1 Henry Tabima G.
    h2 Desarrollador Web
    p Ingeniero Mecatrónico y Desarrollador web, con experiencia en trabajo como freelancer y desarrollo para IoT. Habilidades de trabajo en equipo y emprendimiento. Practicante del aprendizaje permanente (long life learning)

  .info-contacto
    .row.center-xs
      ul.col-xs
        li
          i.fa.fa-envelope.ticon
          span contacto@henrytabima.com
        li
          i.fa.fa-globe.ticon
          span www.henrytabima.com

  nav.navegacion
    .row.center-xs
      ul.col-xs
        li
          a(data-scroll, href="#experiencia") Experiencia
        li
          a(data-scroll, href="#educacion") Educacion
        li
          a(data-scroll, href="#habilidades") Habilidades
        li
          a(data-scroll, href="#portafolio") Portafolio
